.puffWrapper {
   display:flex;
    margin-left:200px;
    margin-right:200px;
    height:700px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #F6F6F6;
}

.column {
    flex:50%;
    /* align-items:center; */
    justify-content: center;
    margin:auto;
}

.puffImg {
    height:700px;
    width:100%;
    object-fit: cover;
    overflow: hidden;
}

.puffTextCol{
    padding:30px
}

.link {
    text-decoration:none;
    color:black;
    font-size:1em;
}

