.scrollButton {
                position: fixed;
                right: 20px;
                bottom: 20px;
                cursor: pointer;
                color: red;
                background-color: lightgray;
                border-radius: 50%; 
}