.navigationWrapper {
    border-top: 0.5px solid rgb(124, 39, 29,0.3);
    padding:15px;
}
.navigationList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 6% 0 6%;
}