.productsWrapper {
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    overflow:auto;
    width:100%;
}

.productsList {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    padding:0;
    overflow:auto;
}

.productsListItem {
    position:relative;
    float:left;
    height:420px;
    width:260px;
    background-color:white;
    margin:2px;
}

.productsListImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}